.main-nav li {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main-nav a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: 630;
    color: #00a9d9;
}

.main-nav ul {
    list-style: none;
    display: flex;
    text-align: center;
}